body {
  zoom: 200%;
  width: 1000px;
  text-align: center;
  scroll-behavior: smooth;
}

#dodger {
  background: url('assets/penny.png');
  background-position: -2px -20px;
  bottom: 0px;
  right: 180px;
  left: 180px;
  height: 108px;
  position: absolute;
  width: 56px;
}

#dodger.music {
  background: url('assets/pennyrocking4.gif');
  height: 108px;
  width: 70px;
  position: absolute;
}

#dodger.read {
  background-position: -2px -544px;
  margin-bottom: 6px;
  animation: reading 1s steps(3) forwards;
}

#rooms {
  width: 700px;
  height: 200px;
  text-align: center;
}

#game1 {
  display: inline-block;
  background: url('assets/kitchen3.gif');
  background-size: 100% 100%;
  width: 350px;
  height: 200px;
  position: relative;
}

#hallway {
  display: inline-block;
  width: 150px;
  height: 200px;
  z-index: 99;
  position: relative;
  background-color: #FFF;
}

#game {
  display: inline-block;
  background: no-repeat;
  background-image: url('assets/bedroom3.gif');
  background-size: 100% 100%;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
      padding-left: 0px;
  text-align: center;
  width: 350px;
}

#pictureFrame {
  height: 100px;
  width: 125px;
  object-fit: cover;
  padding-top: 10%;
}

div#tv {
  width: 50px;
  height: 25px;
  position:absolute; /*it can be fixed too*/
        left:15%; right:0;
        top:0; bottom:0;
        margin:auto;
  opacity: 0;
  z-index: 999;
  animation: flicker 20s infinite;
  box-shadow: 0 0 50px 70px #fc3f84;
  background-color: #fc3f84;
  visibility: hidden;
}

audio {
  display: none;
}

iframe {
  display: none;
}



#text{
  font-family: 'assets/ShockwaveBrush' ;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.grid-container {
  grid-template-columns: auto auto;
}


.panelContainer {
  text-align: center;
  position: relative;
}

.ThePanel {
  display: inline-block;
  position: absolute;
  /* overflow: hidden; */
  /* padding-left: 39vw;
  padding-right: 39vw; */
  width: 100%;
  height: 100%;
  /* border: 1px solid white; */
  /* text-align: center; */
}

.forms {
  text-align: center;
  position:absolute; /*it can be fixed too*/
  left:0;
  right:0;
  bottom:0;
  top:0;
  margin:auto;
}

.content {
    font-family: MonoSpatial;
    position: relative;
    left: -135px;
    visibility: hidden;
    width: 200px;
    height: 100px;
    transition: 1s;
}

/* inside panel is the class to use when we want to add anything under the 'game' */
.insidePanel {
    font-family: ShockwaveBrushRegular;
    position: relative;
    top: -135px;
    visibility: hidden;
    animation: slide 0.25s forwards;
    /* transition: 1s; */
}

.picturePanel {
  position: relative;
  top: -135px;
  visibility: hidden;
  animation: pictureSlide 0.25s forwards;
}

/* input {
  display: inline-block;
  position: absolute;
} */

/* #note-button {
  display: block;
  position: relative;
} */

/* .ThePanel:hover .insidePanel {
    transition: 1s;
    visibility: visible;
    top: 0;
} */

.ThePanel:hover .content {
    transition: 1s;
    visibility: visible;
    left: 0;
}

@keyframes reading {
  /* 33% {background-position: -66px -548px} */
  /* 100% {background-position: -130px -556px} */
  100% {background-position: -194px -556px}
}

@keyframes slide {
  60% {visibility: hidden}
  100% {
    top: 40%;
    visibility: visible;  }
}

@keyframes pictureSlide {
  60% {visibility: hidden}
  100% {
    top: 10%;
    visibility: visible;  }
}

@keyframes flicker {
  1% { opacity: 0.10; }
  10% { opacity: 0.10;}
  11% { opacity: 0; }
  14% { opacity: 0; }
  15% { opacity: 0.10; }
  35% { opacity: 0.10; }
  36% { opacity: 0.05;}
  45% { opacity: 0.05; }
  46% { opacity: 0.10; }
  48% { opacity: 0.10; }
  49% { opacity: 0; }
  50% { opacity: 0; }
  51% { opacity: 0.10; }
  52% { opacity: 0.10; }
  53% { opacity: 0; }
  54% { opacity: 0; }
  55% { opacity: 0.10; }
  56% { opacity: 0.10; }
  57% { opacity: 0; }
  58% { opacity: 0; }
  59% { opacity: 0.10; }
  61% { opacity: 0.10; }
  62% { opacity: 0; }
  63% { opacity: 0; }
  64% { opacity: 0.10; }
  70% { opacity: 0.10; }
  71% { opacity: 0; }
  73% { opacity: 0; }
  74% { opacity: 0.05}
  78% { opacity: 0.05}
  79% { opacity: 0.10}
  85% { opacity: 0.10}
  86% { opacity: 0}
  87% {opacity: 0}
  88% {opacity: 0.05 }
  90% {opacity: 0.05 }
  91% {opacity: 0.10}
  95% {opacity: 0.10}
  96% {opacity: 0}
  99% {opacity: 0}
  100% { opacity: 0.10; }
}
